[submodule "bulma"]
	path = django_simple_bulma/bulma
	url = https://github.com/jgthms/bulma.git
[submodule "bulma-tagsinput"]
	path = django_simple_bulma/extensions/bulma-tagsinput
	url = https://github.com/CreativeBulma/bulma-tagsinput.git
[submodule "bulma-divider"]
	path = django_simple_bulma/extensions/bulma-divider
	url = https://github.com/CreativeBulma/bulma-divider.git
[submodule "bulma-badge"]
	path = django_simple_bulma/extensions/bulma-badge
	url = https://github.com/CreativeBulma/bulma-badge.git
[submodule "bulma-carousel"]
	path = django_simple_bulma/extensions/bulma-carousel
	url = https://github.com/Wikiki/bulma-carousel.git
[submodule "bulma-calendar"]
	path = django_simple_bulma/extensions/bulma-calendar
	url = https://github.com/Wikiki/bulma-calendar.git
[submodule "bulma-tooltip"]
	path = django_simple_bulma/extensions/bulma-tooltip
	url = https://github.com/Wikiki/bulma-tooltip.git
[submodule "bulma-quickview"]
	path = django_simple_bulma/extensions/bulma-quickview
	url = https://github.com/Wikiki/bulma-quickview.git
[submodule "bulma-iconpicker"]
	path = django_simple_bulma/extensions/bulma-iconpicker
	url = https://github.com/Wikiki/bulma-iconpicker.git
[submodule "bulma-pricingtable"]
	path = django_simple_bulma/extensions/bulma-pricingtable
	url = https://github.com/Wikiki/bulma-pricingtable.git
[submodule "bulma-megamenu"]
	path = django_simple_bulma/extensions/bulma-megamenu
	url = https://github.com/hunzaboy/bulma-megamenu.git
[submodule "Cool-Checkboxes-for-Bulma.io"]
	path = django_simple_bulma/extensions/bulma-coolcheckboxes
	url = https://github.com/hunzaboy/Cool-Checkboxes-for-Bulma.io.git
[submodule "bulma-slider"]
	path = django_simple_bulma/extensions/bulma-slider
	url = https://github.com/Wikiki/bulma-slider.git
[submodule "bulma-checkradio"]
	path = django_simple_bulma/extensions/bulma-checkradio
	url = https://github.com/Wikiki/bulma-checkradio.git
[submodule "bulma-switch"]
	path = django_simple_bulma/extensions/bulma-switch
	url = https://github.com/Wikiki/bulma-switch.git
[submodule "bulma-pageloader"]
	path = django_simple_bulma/extensions/bulma-pageloader
	url = https://github.com/Wikiki/bulma-pageloader.git
[submodule "bulma-ribbon"]
	path = django_simple_bulma/extensions/bulma-ribbon
	url = https://github.com/Wikiki/bulma-ribbon.git
[submodule "bulma-steps"]
	path = django_simple_bulma/extensions/bulma-steps
	url = https://github.com/Wikiki/bulma-steps.git
[submodule "bulma-timeline"]
	path = django_simple_bulma/extensions/bulma-timeline
	url = https://github.com/Wikiki/bulma-timeline.git
[submodule "bulma-collapsible"]
	path = django_simple_bulma/extensions/bulma-collapsible
	url = https://github.com/CreativeBulma/bulma-collapsible.git
